<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @project.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Date start:</strong>
  <%= @project.date_start %>
</p>

<p>
  <strong>Date end:</strong>
  <%= @project.date_end %>
</p>

<p>
  <strong>State:</strong>
  <%= @project.state %>
</p>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
